body {
	font-family: ProximaNova, sans-serif !important;
	color: #231f20 !important;
}

.title-slide hgroup h1 {
	font-family: ProximaNova, sans-serif !important;
	font-weight: bolder;
	color: #00adef;
	text-transform: uppercase;
	line-height: 1.0;
}

h1, h2, h3 {
	font-family: ProximaNova, sans-serif !important;
	font-weight: bolder;
	color: #00adef !important;
	text-transform: uppercase;	
}

p {
	font-family: ProximaNova, sans-serif !important;
	color: #231f20 !important;
	font-size: 30px !important;
}

h2 {
	font-size: 32px !important;
}

li {
	font-family: ProximaNova, sans-serif !important;
	color: #231f20 !important;
	font-size: 30px !important;	
}

strong, b {
    font-weight: bold;
}
.segue h2 {
    line-height: normal;
}
.centered * {
    text-align: center;
}
